* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #ffffff;
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

